@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: #222;
	--background-color: #fff;
	--primary-color: #007bff;
	/* ...other theme variables */
}

.light-theme {
	--text-color: #222;
	--background-color: #fff;
	/* ...other light theme styles */
}

.dark-theme {
	--text-color: #fff;
	--background-color: #222;
	/* ...other dark theme styles */
}
